// =============== VENDOR SCRIPTS ===============

// MODERNIZR
script(src='vendor/modernizr/modernizr.custom.js')
// JQUERY
script(src='vendor/jquery/dist/jquery.js')
// BOOTSTRAP
script(src='vendor/popper.js/dist/umd/popper.js')
script(src='vendor/bootstrap/dist/js/bootstrap.js')
// STORAGE API
script(src='vendor/js-storage/js.storage.js')
// JQUERY EASING
script(src='vendor/jquery.easing/jquery.easing.js')
// ANIMO
script(src='vendor/animo/animo.js')
// SCREENFULL
script(src='vendor/screenfull/dist/screenfull.js')
// LOCALIZE
script(src='vendor/jquery-localize/dist/jquery.localize.js')


// =============== PAGE VENDOR SCRIPTS ===============
block vendor_js
    //- This block will include specific vendor assets

// =============== APP SCRIPTS ===============
script(src='js/app.js')